[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-five"]
	path = bundle/vim-five
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-blockle"]
	path = bundle/vim-blockle
	url = git://github.com/jgdavey/vim-blockle.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/JSON.vim"]
	path = bundle/JSON.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
