[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-blockle"]
	path = bundle/vim-blockle
	url = git://github.com/jgdavey/vim-blockle
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
  ignore = untracked
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/json.vim"]
	path = bundle/json.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-android"]
	path = bundle/vim-android
	url = git@github.com:hsanson/vim-android.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = git@github.com:vim-scripts/javacomplete.git
	ignore = untracked
[submodule "bundle/android-javacomplete"]
	path = bundle/android-javacomplete
	url = git@github.com:anddam/android-javacomplete.git
[submodule "bundle/vim-color-solarized"]
	path = bundle/vim-color-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-proc"]
	path = bundle/vim-proc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git@github.com:othree/html5.vim.git
